.bingo-game-header {
  .bingo-game-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .settings-icon {
    color: #1976d2;
    border: #1976d2 solid 2px;
    border-radius: 1em;
    margin-right: 0.5em;
  }
}

.bingo-container {
  display: flex;
  flex-flow: row wrap;
  border: 1px solid black;
  .bingo-brick-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
  }
  .bingo-brick-text-checked {
    background-size: cover;
  }
  .bingo-brick {
    width: 20%;
    border: 1px solid black;
    display: inline-block;
    box-sizing: border-box;

    &.boxPattern-1x1 {
      width: 100%;
    }
    &.boxPattern-2x2 {
      width: 50%;
    }
    &.boxPattern-3x3 {
      width: calc(100% / 3);
    }
    &.boxPattern-4x4 {
      width: 25%;
    }
    &.boxPattern-5x5 {
      width: 20%;
    }

    &.bingo-brick-selected {
      border: 3px solid #1976d2;
    }
    .bingo-brick-text-container {
      margin: 0.2em;
      height: 0;
      padding-bottom: calc(100% - 0.4em);
      word-break: break-all;
      overflow: hidden;
      position: relative;
      .bingo-brick-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: fit-content;
        user-select: none;
      }
    }
    .bingo-brick-img-fill {
      height: 0;
      padding-bottom: 100%;
    }
    .bingo-brick-img-checked {
      background-size: cover;
      z-index: 0;
    }
  }
}

.loading {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #1976d2; /* Blue */
    border-radius: 50%;
    width: 5em;
    height: 5em;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.brick-info {
  display: flex;
  margin: 0.5em 0em;
  justify-content: space-between;

  .brick-text-info {
    margin-right: 0.5em;
    width: calc(100% - 72px);
    .brick-text-underline {
      height: 1px;
      width: 100%;
      background-color: #1976d2;
      margin-bottom: 0.4em;
    }
  }
  .info-interact {
    .info-zoom-image {
      border-radius: 4px;
      height: 4em;
      width: 4em;
      margin: 0 0 0.5em 0;
      outline: 0.5px solid #1976d2;
      position: relative;
      background-size: cover;
      background-position: center;
      .info-zoom-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: radial-gradient(
          circle,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 0) 75%,
          rgba(255, 255, 255, 0) 100%
        );
      }
      &:hover {
        outline: 1px solid #1976d2;
      }
    }
  }
}

.bingo-overlay-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 1;

  .bingo-overlay {
    position: absolute;
    left: 50%;
    top: 4em;
    transform: translateX(-50%);
    display: inline-block;
    padding: 0 3em;
    box-sizing: border-box;
    .bingo-overlay-content {
      height: 0;
      padding-bottom: 100%;
      background-color: white;
      border: solid 3px #1976d2;
      border-radius: 1em;
      position: relative;

      .bingo-overlay-close {
        position: absolute;
        right: 0.2em;
        top: 0.2em;
        background-color: white;
        border-radius: 1em;
      }
      .bingo-overlay-image {
        height: 0;
        width: calc(100% - 2em);
        margin: 1em;
        padding-bottom: calc(100% - 2em);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
      .bingo-overlay-win {
        margin: 2em;
        text-align: center;
        flex-direction: column;
        display: flex;
        height: 0;
        padding-bottom: calc(100% - 4em);
        .bingo-overlay-win-buttons {
          margin-top: 0.5em;
          display: flex;
          flex-direction: column;
          margin-top: 2em;

          button {
            margin-top: 0.5em;
          }
        }
      }
      .bingo-overlay-settings {
        margin: 2em;
        text-align: center;
        flex-direction: column;
        display: flex;
        height: 0;
        padding-bottom: calc(100% - 4em);
        .bingo-overlay-win-buttons {
          margin-top: 0.5em;
          display: flex;
          flex-direction: column;
          margin-top: 2em;

          button {
            margin-top: 0.5em;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .bingo-container {
    .bingo-brick {
      .bingo-brick-text {
        font-size: 12px;
      }
    }
  }
  .bingo-overlay-container {
    .bingo-overlay {
      padding: 0 2em;
    }
  }
}

@media only screen and (max-width: 500px) {
  .css-cuefkz-MuiContainer-root {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .bingo-container {
    .bingo-brick {
      .bingo-brick-text {
        font-size: 10px;
      }
    }
  }
  .brick-info {
    margin: 0.5em;
  }
  .bingo-overlay-container {
    .bingo-overlay {
      padding: 0 1em;
    }
  }
}

@media only screen and (max-width: 338px) {
  .bingo-container {
    .bingo-brick {
      .bingo-brick-text {
        font-size: 9px;
      }
    }
  }
}
