.bingo-game-header .bingo-game-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bingo-game-header .settings-icon {
  color: #1976d2;
  border: #1976d2 solid 2px;
  border-radius: 1em;
  margin-right: 0.5em;
}

.bingo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  border: 1px solid black;
}

.bingo-container .bingo-brick-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.bingo-container .bingo-brick-text-checked {
  background-size: cover;
}

.bingo-container .bingo-brick {
  width: 20%;
  border: 1px solid black;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bingo-container .bingo-brick.boxPattern-1x1 {
  width: 100%;
}

.bingo-container .bingo-brick.boxPattern-2x2 {
  width: 50%;
}

.bingo-container .bingo-brick.boxPattern-3x3 {
  width: calc(100% / 3);
}

.bingo-container .bingo-brick.boxPattern-4x4 {
  width: 25%;
}

.bingo-container .bingo-brick.boxPattern-5x5 {
  width: 20%;
}

.bingo-container .bingo-brick.bingo-brick-selected {
  border: 3px solid #1976d2;
}

.bingo-container .bingo-brick .bingo-brick-text-container {
  margin: 0.2em;
  height: 0;
  padding-bottom: calc(100% - 0.4em);
  word-break: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  overflow: hidden;
  position: relative;
}

.bingo-container .bingo-brick .bingo-brick-text-container .bingo-brick-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.bingo-container .bingo-brick .bingo-brick-img-fill {
  height: 0;
  padding-bottom: 100%;
}

.bingo-container .bingo-brick .bingo-brick-img-checked {
  background-size: cover;
  z-index: 0;
}

.loading {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loading .loader {
  border: 10px solid #f3f3f3;
  /* Light grey */
  border-top: 10px solid #1976d2;
  /* Blue */
  border-radius: 50%;
  width: 5em;
  height: 5em;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.brick-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5em 0em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.brick-info .brick-text-info {
  margin-right: 0.5em;
  width: calc(100% - 72px);
}

.brick-info .brick-text-info .brick-text-underline {
  height: 1px;
  width: 100%;
  background-color: #1976d2;
  margin-bottom: 0.4em;
}

.brick-info .info-interact .info-zoom-image {
  border-radius: 4px;
  height: 4em;
  width: 4em;
  margin: 0 0 0.5em 0;
  outline: 0.5px solid #1976d2;
  position: relative;
  background-size: cover;
  background-position: center;
}

.brick-info .info-interact .info-zoom-image .info-zoom-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: radial-gradient(circle, white 0%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%);
}

.brick-info .info-interact .info-zoom-image:hover {
  outline: 1px solid #1976d2;
}

.bingo-overlay-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 1;
}

.bingo-overlay-container .bingo-overlay {
  position: absolute;
  left: 50%;
  top: 4em;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: inline-block;
  padding: 0 3em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bingo-overlay-container .bingo-overlay .bingo-overlay-content {
  height: 0;
  padding-bottom: 100%;
  background-color: white;
  border: solid 3px #1976d2;
  border-radius: 1em;
  position: relative;
}

.bingo-overlay-container .bingo-overlay .bingo-overlay-content .bingo-overlay-close {
  position: absolute;
  right: 0.2em;
  top: 0.2em;
  background-color: white;
  border-radius: 1em;
}

.bingo-overlay-container .bingo-overlay .bingo-overlay-content .bingo-overlay-image {
  height: 0;
  width: calc(100% - 2em);
  margin: 1em;
  padding-bottom: calc(100% - 2em);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.bingo-overlay-container .bingo-overlay .bingo-overlay-content .bingo-overlay-win {
  margin: 2em;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 0;
  padding-bottom: calc(100% - 4em);
}

.bingo-overlay-container .bingo-overlay .bingo-overlay-content .bingo-overlay-win .bingo-overlay-win-buttons {
  margin-top: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2em;
}

.bingo-overlay-container .bingo-overlay .bingo-overlay-content .bingo-overlay-win .bingo-overlay-win-buttons button {
  margin-top: 0.5em;
}

.bingo-overlay-container .bingo-overlay .bingo-overlay-content .bingo-overlay-settings {
  margin: 2em;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 0;
  padding-bottom: calc(100% - 4em);
}

.bingo-overlay-container .bingo-overlay .bingo-overlay-content .bingo-overlay-settings .bingo-overlay-win-buttons {
  margin-top: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2em;
}

.bingo-overlay-container .bingo-overlay .bingo-overlay-content .bingo-overlay-settings .bingo-overlay-win-buttons button {
  margin-top: 0.5em;
}

.bingo-overlay-container .bingo-overlay .bingo-overlay-content .bingo-overlay-content-print {
  margin: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.bingo-overlay-container .bingo-overlay .bingo-overlay-content .bingo-overlay-content-print h4 {
  padding-bottom: 0.5em;
}

.bingo-overlay-container .bingo-overlay .bingo-overlay-content .bingo-overlay-content-print button {
  margin: 1em 0 0;
}

@media only screen and (max-width: 600px) {
  .bingo-container .bingo-brick .bingo-brick-text {
    font-size: 12px;
  }
  .bingo-overlay-container .bingo-overlay {
    padding: 0 2em;
  }
}

.bingo-page-container .bingo-pages {
  width: 21cm;
  height: 29.7cm;
  padding: 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 1px black;
}

.bingo-page-container .bingo-pages .css-1gde288-MuiContainer-root {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.bingo-page-container .bingo-pages .bingo-container .bingo-brick .bingo-brick-text {
  font-size: 16px !important;
}

.bingo-page-container .bingo-pages .bingo-container .bingo-brick .bingo-brick-text.bingo-brick-text-small {
  font-size: 12px !important;
}

@media only screen and (max-width: 500px) {
  .css-cuefkz-MuiContainer-root {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .bingo-container .bingo-brick .bingo-brick-text {
    font-size: 10px;
  }
  .brick-info {
    margin: 0.5em;
  }
  .bingo-overlay-container .bingo-overlay {
    padding: 0 1em;
  }
}

@media only screen and (max-width: 338px) {
  .bingo-container .bingo-brick .bingo-brick-text {
    font-size: 9px;
  }
}

.lock-screen {
  height: 100vh;
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */